In [1]:
import pandas as pd

file = 'musei_tavola5_2014_visitatori.csv'
year="2014"

with open(file, "r", encoding = "utf-8") as f:
    for i,line in enumerate(f):
        if line.startswith("Regione"):
            header_row = i
            break
vis14 = pd.read_csv(file, skiprows = header_row, sep=";")
vis14

,Regione,Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre,Totale complessivo,Unnamed: 14
0,ABRUZZO,6.122,5.605,13.076,21.496,24.086,14.814,15.708,29.538,13.796,7.676,8.026,8.161,168.104,NaN
1,BASILICATA,4.181,5.491,11.560,30.553,33.920,16.020,16.916,38.564,21.426,23.668,11.148,13.955,227.402,NaN
2,CALABRIA,16.976,13.454,28.421,47.039,60.602,34.308,36.701,74.094,36.059,22.214,14.712,17.054,401.634,NaN
3,CAMPANIA,197.190,202.937,416.848,802.855,921.493,642.453,663.763,771.878,731.274,660.805,296.330,288.718,6.596.544,NaN
4,EMILIA ROMAGNA,36.377,29.683,70.014,162.044,146.706,68.435,62.426,88.176,87.574,77.637,43.748,43.710,916.530,NaN
5,FRIULI-VENEZIA GIULIA,18.550,16.985,98.857,148.327,164.710,145.374,139.979,161.377,143.154,118.585,83.442,55.852,1.295.192,NaN
6,LAZIO,865.763,916.680,1.379.306,1.977.764,1.999.835,1.642.572,1.842.467,2.034.451,1.810.140,1.850.029,1.064.787,1.132.047,18.515.841,NaN
7,LIGURIA,5.415,4.787,13.308,15.971,21.267,9.809,12.341,16.305,15.774,8.089,4.564,6.324,133.954,NaN
8,LOMBARDIA,67.115,63.906,112.345,191.948,195.425,126.917,139.471,176.332,149.080,121.067,79.851,76.959,1.500.416,NaN
9,MARCHE,13.144,10.628,33.341,75.658,63.481,37.014,49.317,75.781,45.566,26.234,19.911,27.621,477.696,NaN
10,MOLISE,1.894,1.913,3.945,13.443,14.584,5.565,6.097,14.958,5.260,4.903,2.824,3.426,78.812,NaN
11,PIEMONTE,111.967,69.131,142.107,253.492,270.117,143.154,105.531,162.526,131.440,110.951,102.978,124.858,1.728.252,NaN
12,PUGLIA,13.324,11.348,32.020,87.587,111.596,44.072,40.362,73.132,59.470,36.053,24.827,19.991,553.782,NaN
13,SARDEGNA,5.076,4.379,18.264,46.792,71.860,43.401,64.900,80.826,58.652,29.141,11.842,11.266,446.399,NaN
14,TOSCANA,282.604,297.647,516.217,753.184,766.530,637.233,702.371,708.006,619.578,580.436,346.621,337.228,6.547.655,NaN
15,UMBRIA,7.975,7.770,17.179,33.473,32.411,18.710,21.939,39.967,21.998,16.854,10.832,13.045,242.153,NaN
16,VENETO,41.233,45.624,85.082,107.840,106.962,77.313,76.448,92.398,91.485,86.977,51.837,51.198,914.397,NaN
17,Totale complessivo,1.694.906,1.707.968,2.991.890,4.769.466,5.005.585,3.707.164,3.996.737,4.638.309,4.041.726,3.781.319,2.178.280,2.231.413,40.744.763,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
vis14.rename(columns={"Totale complessivo":"Totale_regione"}, inplace= True)
vis14.dropna(axis=1, how="all", inplace= True)
vis14.dropna(axis=0, how="all", inplace= True)
# set 'Regione' as columns, months as rows
vis14 = vis14.set_index("Regione").T
vis14

Regione,ABRUZZO,BASILICATA,CALABRIA,CAMPANIA,EMILIA ROMAGNA,FRIULI-VENEZIA GIULIA,LAZIO,LIGURIA,LOMBARDIA,MARCHE,MOLISE,PIEMONTE,PUGLIA,SARDEGNA,TOSCANA,UMBRIA,VENETO,Totale complessivo
Gennaio,6.122,4.181,16.976,197.190,36.377,18.550,865.763,5.415,67.115,13.144,1.894,111.967,13.324,5.076,282.604,7.975,41.233,1.694.906
Febbraio,5.605,5.491,13.454,202.937,29.683,16.985,916.680,4.787,63.906,10.628,1.913,69.131,11.348,4.379,297.647,7.770,45.624,1.707.968
Marzo,13.076,11.560,28.421,416.848,70.014,98.857,1.379.306,13.308,112.345,33.341,3.945,142.107,32.020,18.264,516.217,17.179,85.082,2.991.890
Aprile,21.496,30.553,47.039,802.855,162.044,148.327,1.977.764,15.971,191.948,75.658,13.443,253.492,87.587,46.792,753.184,33.473,107.840,4.769.466
Maggio,24.086,33.920,60.602,921.493,146.706,164.710,1.999.835,21.267,195.425,63.481,14.584,270.117,111.596,71.860,766.530,32.411,106.962,5.005.585
Giugno,14.814,16.020,34.308,642.453,68.435,145.374,1.642.572,9.809,126.917,37.014,5.565,143.154,44.072,43.401,637.233,18.710,77.313,3.707.164
Luglio,15.708,16.916,36.701,663.763,62.426,139.979,1.842.467,12.341,139.471,49.317,6.097,105.531,40.362,64.900,702.371,21.939,76.448,3.996.737
Agosto,29.538,38.564,74.094,771.878,88.176,161.377,2.034.451,16.305,176.332,75.781,14.958,162.526,73.132,80.826,708.006,39.967,92.398,4.638.309
Settembre,13.796,21.426,36.059,731.274,87.574,143.154,1.810.140,15.774,149.080,45.566,5.260,131.440,59.470,58.652,619.578,21.998,91.485,4.041.726
Ottobre,7.676,23.668,22.214,660.805,77.637,118.585,1.850.029,8.089,121.067,26.234,4.903,110.951,36.053,29.141,580.436,16.854,86.977,3.781.319
Novembre,8.026,11.148,14.712,296.330,43.748,83.442,1.064.787,4.564,79.851,19.911,2.824,102.978,24.827,11.842,346.621,10.832,51.837,2.178.280
Dicembre,8.161,13.955,17.054,288.718,43.710,55.852,1.132.047,6.324,76.959,27.621,3.426,124.858,19.991,11.266,337.228,13.045,51.198,2.231.413
Totale_regione,168.104,227.402,401.634,6.596.544,916.530,1.295.192,18.515.841,133.954,1.500.416,477.696,78.812,1.728.252,553.782,446.399,6.547.655,242.153,914.397,40.744.763

In [3]:
# rename the rows to add the year
vis14.index = [f"{month}_{year}" for month in vis14.index]
vis14

Regione,ABRUZZO,BASILICATA,CALABRIA,CAMPANIA,EMILIA ROMAGNA,FRIULI-VENEZIA GIULIA,LAZIO,LIGURIA,LOMBARDIA,MARCHE,MOLISE,PIEMONTE,PUGLIA,SARDEGNA,TOSCANA,UMBRIA,VENETO,Totale complessivo
Gennaio_2014,6.122,4.181,16.976,197.190,36.377,18.550,865.763,5.415,67.115,13.144,1.894,111.967,13.324,5.076,282.604,7.975,41.233,1.694.906
Febbraio_2014,5.605,5.491,13.454,202.937,29.683,16.985,916.680,4.787,63.906,10.628,1.913,69.131,11.348,4.379,297.647,7.770,45.624,1.707.968
Marzo_2014,13.076,11.560,28.421,416.848,70.014,98.857,1.379.306,13.308,112.345,33.341,3.945,142.107,32.020,18.264,516.217,17.179,85.082,2.991.890
Aprile_2014,21.496,30.553,47.039,802.855,162.044,148.327,1.977.764,15.971,191.948,75.658,13.443,253.492,87.587,46.792,753.184,33.473,107.840,4.769.466
Maggio_2014,24.086,33.920,60.602,921.493,146.706,164.710,1.999.835,21.267,195.425,63.481,14.584,270.117,111.596,71.860,766.530,32.411,106.962,5.005.585
Giugno_2014,14.814,16.020,34.308,642.453,68.435,145.374,1.642.572,9.809,126.917,37.014,5.565,143.154,44.072,43.401,637.233,18.710,77.313,3.707.164
Luglio_2014,15.708,16.916,36.701,663.763,62.426,139.979,1.842.467,12.341,139.471,49.317,6.097,105.531,40.362,64.900,702.371,21.939,76.448,3.996.737
Agosto_2014,29.538,38.564,74.094,771.878,88.176,161.377,2.034.451,16.305,176.332,75.781,14.958,162.526,73.132,80.826,708.006,39.967,92.398,4.638.309
Settembre_2014,13.796,21.426,36.059,731.274,87.574,143.154,1.810.140,15.774,149.080,45.566,5.260,131.440,59.470,58.652,619.578,21.998,91.485,4.041.726
Ottobre_2014,7.676,23.668,22.214,660.805,77.637,118.585,1.850.029,8.089,121.067,26.234,4.903,110.951,36.053,29.141,580.436,16.854,86.977,3.781.319
Novembre_2014,8.026,11.148,14.712,296.330,43.748,83.442,1.064.787,4.564,79.851,19.911,2.824,102.978,24.827,11.842,346.621,10.832,51.837,2.178.280
Dicembre_2014,8.161,13.955,17.054,288.718,43.710,55.852,1.132.047,6.324,76.959,27.621,3.426,124.858,19.991,11.266,337.228,13.045,51.198,2.231.413
Totale_regione_2014,168.104,227.402,401.634,6.596.544,916.530,1.295.192,18.515.841,133.954,1.500.416,477.696,78.812,1.728.252,553.782,446.399,6.547.655,242.153,914.397,40.744.763