In [8]:
import pandas as pd
import os
import glob

def transform_table(file):
    #detect header of table
    with open(file, "r", encoding = "latin-1") as f:
        for i,line in enumerate(f):
            if line.startswith("Regione"):
                header_row = i
                break
    visitors = pd.read_csv(file, skiprows = header_row, sep=";")
    visitors.rename(columns={"Totale complessivo":"Totale_regione"}, inplace= True)
    visitors.dropna(axis=1, how="all", inplace= True)
    visitors.dropna(axis=0, how="all", inplace= True)
    
    # set 'Regione' as columns, months as rows
    visitors = visitors.set_index("Regione").T
    # rename the rows to add the year
    visitors.index = [f"{month}_{year}" for month in visitors.index]

    return visitors

In [9]:
# apply to all visitatori files
files = glob.glob("musei_tavola5_*_visitatori.csv")
dfs = [transform_table(f) for f in files]

# merge along rows
total_visitors = pd.concat(dfs)
total_visitors

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 324: invalid continuation byte

Regione,ABRUZZO,BASILICATA,CALABRIA,CAMPANIA,EMILIA ROMAGNA,FRIULI-VENEZIA GIULIA,LAZIO,LIGURIA,LOMBARDIA,MARCHE,MOLISE,PIEMONTE,PUGLIA,SARDEGNA,TOSCANA,UMBRIA,VENETO,Totale complessivo
Gennaio_2014,6.122,4.181,16.976,197.190,36.377,18.550,865.763,5.415,67.115,13.144,1.894,111.967,13.324,5.076,282.604,7.975,41.233,1.694.906
Febbraio_2014,5.605,5.491,13.454,202.937,29.683,16.985,916.680,4.787,63.906,10.628,1.913,69.131,11.348,4.379,297.647,7.770,45.624,1.707.968
Marzo_2014,13.076,11.560,28.421,416.848,70.014,98.857,1.379.306,13.308,112.345,33.341,3.945,142.107,32.020,18.264,516.217,17.179,85.082,2.991.890
Aprile_2014,21.496,30.553,47.039,802.855,162.044,148.327,1.977.764,15.971,191.948,75.658,13.443,253.492,87.587,46.792,753.184,33.473,107.840,4.769.466
Maggio_2014,24.086,33.920,60.602,921.493,146.706,164.710,1.999.835,21.267,195.425,63.481,14.584,270.117,111.596,71.860,766.530,32.411,106.962,5.005.585
Giugno_2014,14.814,16.020,34.308,642.453,68.435,145.374,1.642.572,9.809,126.917,37.014,5.565,143.154,44.072,43.401,637.233,18.710,77.313,3.707.164
Luglio_2014,15.708,16.916,36.701,663.763,62.426,139.979,1.842.467,12.341,139.471,49.317,6.097,105.531,40.362,64.900,702.371,21.939,76.448,3.996.737
Agosto_2014,29.538,38.564,74.094,771.878,88.176,161.377,2.034.451,16.305,176.332,75.781,14.958,162.526,73.132,80.826,708.006,39.967,92.398,4.638.309
Settembre_2014,13.796,21.426,36.059,731.274,87.574,143.154,1.810.140,15.774,149.080,45.566,5.260,131.440,59.470,58.652,619.578,21.998,91.485,4.041.726
Ottobre_2014,7.676,23.668,22.214,660.805,77.637,118.585,1.850.029,8.089,121.067,26.234,4.903,110.951,36.053,29.141,580.436,16.854,86.977,3.781.319
Novembre_2014,8.026,11.148,14.712,296.330,43.748,83.442,1.064.787,4.564,79.851,19.911,2.824,102.978,24.827,11.842,346.621,10.832,51.837,2.178.280
Dicembre_2014,8.161,13.955,17.054,288.718,43.710,55.852,1.132.047,6.324,76.959,27.621,3.426,124.858,19.991,11.266,337.228,13.045,51.198,2.231.413
Totale_regione_2014,168.104,227.402,401.634,6.596.544,916.530,1.295.192,18.515.841,133.954,1.500.416,477.696,78.812,1.728.252,553.782,446.399,6.547.655,242.153,914.397,40.744.763